<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li>Страница не найдена</li>
                    </ul>


                    <div class="row" id="error-page">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="box">

                                <p class="text-center">
                                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="bookstore template">
                                </p>

                                <h3>К сожалению, эта страница больше не существует</h3>
                                <h4 class="text-muted">Ошибка 404 - Страница не найдена</h4>

                                <p class="buttons"><a href="{{ url_for('index') }}" class="btn btn-primary"><i class="fa fa-home"></i> Вернуться на главную страницу</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>