<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}

    <div id="all">

        <div id="content">
            <div class="container">


                <!-- *** LEFT COLUMN ***
		     _________________________________________________________ -->

                <div class="col-sm-9" id="blog-listing">

                    <ul class="breadcrumb">

                        <li><a href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li>Блог</li>
                    </ul>

                    {% for post in posts %}
                    <div class="post">
                        <h2><a href="{{ url_for('post', post_id=post[0]) }}">{{ post[1] }}</a></h2>
                        <p class="author-category">Автор: {{ post[2] }}</a>
                        </p>
                        <hr>
                        <p class="date-comments">
                            <a href="{{ url_for('post', post_id=post[0]) }}"><i class="fa fa-calendar-o"></i> {{ post[5] }}</a>
                        </p>
                        <div class="image">
                            <a href="{{ url_for('post', post_id=post[0]) }}">
                                <img src="data:;base64,{{ post[3] }}" class="img-responsive" alt="Example blog post alt">
                            </a>
                        </div>
                        <p class="intro">{{ post[4] }}</p>
                        <p class="read-more"><a href="{{ url_for('post', post_id=post[0]) }}" class="btn btn-primary">Читать полностью</a>
                        </p>
                    </div>
                    {% endfor %}



                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>