<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li>Категории</li>
                    </ul>
                    

                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                              
                            </div>

                            <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-md-6 col-sm-6">
                                           
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-sort-by">
                                                <strong>Сортировать по категориям</strong>
                                                <select name="sort-by" class="form-control" onchange="window.location.href = this.options[this.selectedIndex].value">
                                                    <option selected disabled>Выберите категорию:</option>
                                                    {% for i in nav_bar %}
                                                    {% for j in i.sub%}
                                                    <option value="{{ url_for('category', cat=j) }}">{{ j }}</option>
                                                    {% endfor %}
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row products">
                        {% for cat in items_on_page %}

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{ url_for('detail', book_id=cat[0])}}">
                                                <img src="data:;base64,{{ cat[3] }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{ url_for('detail', book_id=cat[0]) }}">
                                                <img src="data:;base64,{{ cat[3] }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ url_for('detail', book_id=cat[0] )}}" class="invisible">
                                    <img src="data:;base64,{{ cat[3] }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{ url_for('detail', book_id=cat[0] )}}">{{ cat[1] }}</a></h3>
                                    <p class="price">{{ cat[2] }} ₸</p>
                                    <p class="buttons">
                                        <a href="{{ url_for('detail', book_id=cat[0] )}}" class="btn btn-primary">Подробнее</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor %}

                    </div>
                    <!-- /.products -->

                    <div class="pages">
                        <ul class="pagination">

                            {% if page > 1 %}
                            <li><a href="{{ url_for('category', cat=cat, page=page-1) }}">Пред</a></li>
                            {% endif %}

                            {% for i in range(1, total_pages+1) %}
                            <li class="{% if page == i %} active {% endif %}"><a href="{{ url_for('category', cat=cat, page=i) }}">{{ i }}</a></li>
                            {% endfor %}
                            
                            {% if page < total_pages %}
                            <li><a href="{{ url_for('category', cat=cat, page=page+1) }}">След</a></li>
                            {% endif %}

                        </ul>
                    </div>    


                </div>
                <!-- /.col-md-9 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>