<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-9" id="checkout">

                    <div class="box">
                        <form method="post" action="{{url_for('checkout') }}">
                            {{ form.hidden_tag() }}
                            <h1>Оформление заказа</h1>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <p>{{ form.zip_address.label() }} </p> 
                                            {% if form.zip_address.errors %}
                                                {{ form.zip_address(class="invalid") }}
                                            <span class="invalid-feedback">
                                                {% for e in form.zip_address.errors %}
                                                {{ e }}
                                                {% endfor %}
                                            </span>
                                            {% else %}
                                                {{ form.zip_address(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <p>{{ form.street.label() }} </p> 
                                            {% if form.street.errors %}
                                                {{ form.street(class="invalid") }}
                                            <span class="invalid-feedback">
                                                {% for e in form.street.errors %}
                                                {{ e }}
                                                {% endfor %}
                                            </span>
                                            {% else %}
                                                {{ form.street(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <p>{{ form.city.label() }} </p> 
                                            {% if form.city.errors %}
                                                {{ form.city(class="invalid") }}
                                            <span class="invalid-feedback">
                                                {% for e in form.city.errors %}
                                                {{ e }}
                                                {% endfor %}
                                            </span>
                                            {% else %}
                                                {{ form.city(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <p>{{ form.country.label() }} </p> 
                                            {% if form.country.errors %}
                                                {{ form.country(class="invalid") }}
                                            <span class="invalid-feedback">
                                                {% for e in form.country.errors %}
                                                {{ e }}
                                                {% endfor %}
                                            </span>
                                            {% else %}
                                                {{ form.country(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <p>{{ form.phone.label() }} </p> 
                                            {% if form.phone.errors %}
                                                {{ form.phone(class="invalid") }}
                                            <span class="invalid-feedback">
                                                {% for e in form.phone.errors %}
                                                {{ e }}
                                                {% endfor %}
                                            </span>
                                            {% else %}
                                                {{ form.phone(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <p>{{ form.e_mail.label() }} </p> 
                                            {% if form.e_mail.errors %}
                                                {{ form.e_mail(class="invalid") }}
                                            <span class="invalid-feedback">
                                                {% for e in form.e_mail.errors %}
                                                {{ e }}
                                                {% endfor %}
                                            </span>
                                            {% else %}
                                                {{ form.e_mail(class="form-control") }}
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                                <!-- /.row -->
                            </div>

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="{{ url_for('cart') }}" class="btn btn-default">Вернуться в корзину</a>
                                </div>
                                <div class="pull-right">
                                    {{ form.submit(class="btn btn-primary") }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Детали заказа</h3>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Сумма: </td>
                                        <th>{{ total }} ₸</th>
                                    </tr>
                                    <tr>
                                        <td>Доставка: </td>
                                        <th>0 ₸</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Всего: </td>
                                        <th>{{ total }} ₸</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- /.col-md-3 -->
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>