<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li>Контакты</li>
                    </ul>

                </div>


                <div class="col-md-9">


                    <div class="box" id="contact">
                        <h1>Контакты</h1>

                        <p class="lead">Вам что-то интересно? У вас есть какие-то проблемы с нашей продукцией?</p>
                        <p>Пожалуйста, не стесняйтесь обращаться к нам, наш центр обслуживания клиентов работает для вас 24/7.</p>

                        <hr>

                        <div class="row">
                            <div class="col-sm-4">
                                <h3><i class="fa fa-map-marker"></i> Адрес</h3>
                                <p>улица Абая, 76
                                    <br>почтовый индекс: 020000
                                    <br>город: Кокшетау
                                    <br>
                                    <strong>страна: Казахстан</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-phone"></i> Call-центр</h3>
                                <p class="text-muted">Звонок по этому номеру бесплатный, если звонить из Казахстана, в противном случае советуем воспользоваться электронной формой связи.</p>
                                <p><strong>+33 555 444 333</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-envelope"></i> Электронная поддержка</h3>
                                <p class="text-muted">Пожалуйста, напишите нам электронное письмо или воспользуйтесь нашей системой электронных билетов.</p>
                                <strong><a href="mailto:">bookstore@fakeemail.com</a></strong>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->

                        <hr>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.3039627424296!2d69.37098847658349!3d53.28408987227136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424c9448cd13e5d7%3A0x9caaffbf26f0dfbe!2sShokan%20Ualikhanov%20Kokshetau%20State%20University%20Main%20Building!5e0!3m2!1sen!2skz!4v1708192707445!5m2!1sen!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>