<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

<body>
{% block content %}
{{ super() }}
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="index.html">Главная</a>
                        </li>
                        <li><a href="#">Заказы</a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Секция пользователя</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="{{ url_for('cart') }}"><i class="fa fa-shopping-cart"></i>Моя корзина</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('customer_order') }}"><i class="fa fa-list"></i>Мои заказы</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('customer_account') }}"><i class="fa fa-user"></i> Мой аккаунт</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Выйти</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <div class="col-md-9" id="customer-order">
                    <div class="box">
                        <h1>Заказ оформлен!</h1>

                        <p class="lead">Ваш заказ прибудет в течение 7 дней. Спасибо за покупку!</p>
                        <p class="text-muted">Если у вас есть какие-либо вопросы, пожалуйста, <a href="{{ url_for('contact') }}">свяжитесь с нами</a>, наш центр обслуживания клиентов работает для вас 24/7.</p>

                    </div>
                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        
    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>