<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}
    <div id="all">

        <div id="content">

            <div class="container">
                <div class="col-md-12">
                    <div id="main-slider">
                        <div class="item">
                            <img src="{{ url_for('static',filename='img/main-slider1.png') }}" alt="" class="img-responsive">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="{{ url_for('static', filename='img/main-slider2.png') }}" alt="">
                        </div>
                    </div>
                    <!-- /#main-slider -->
                </div>
            </div>

            <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
            <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-heart"></i>
                                </div>

                                <h3><a href="#">Мы ценим своих клиентов</a></h3>
                                <p>это не просто покупатели, которые приобретают наш товар. Это наши единомышленники.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-tags"></i>
                                </div>

                                <h3><a href="#">у нас лучшие цены</a></h3>
                                <p>Мы предлагаем лучшие цены на рынке и скидки для постоянных клиентов.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div>

                                <h3><a href="#">Мы гарантируем 100% удовольствие</a></h3>
                                <p>Мы предлагаем бесплатную доставку до двери и возможность возврата товара.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /#advantages -->

            <!-- *** ADVANTAGES END *** -->

            <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
            <div id="hot">

                <div class="box">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>Новинки недели</h2>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="product-slider">
                        {% for book in new_books %}
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{ url_for('detail', book_id=book[0]) }}">
                                                <img src="data:;base64,{{ book[3] }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{ url_for('detail', book_id=book[0]) }}">
                                                <img src="data:;base64,{{ book[3] }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ url_for('detail', book_id=book[0]) }}" class="invisible">
                                    <img src="data:;base64,{{ book[3] }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{ url_for('detail', book_id=book[0]) }}">{{ book[1] }}</a></h3>
                                    <p class="price"> {{ book[2] }} ₸</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor %}

                        
                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->

            </div>
            <!-- /#hot -->

            <!-- *** HOT END *** -->

            <!-- *** GET INSPIRED ***
 _________________________________________________________ -->
            <div class="container" data-animate="fadeInUpBig">
                <div class="col-md-12">
                    <div class="box slideshow">
                        <h3>ПОЛУЧАЙТЕ ВДОХНОВЕНИЕ</h3>
                        <br>
                        <div id="get-inspired" class="owl-carousel owl-theme">
                            <div class="item">
                                <a href="#">
                                    <img src="{{ url_for('static', filename='img/getinspired1.png') }}" alt="Get inspired" class="img-responsive">
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="{{ url_for('static', filename='img/getinspired2.png') }}" alt="Get inspired" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** GET INSPIRED END *** -->

            <!-- *** BLOG HOMEPAGE ***
 _________________________________________________________ -->

            <div class="box text-center" data-animate="fadeInUp">
                <div class="container">
                    <div class="col-md-12">
                        <h3 class="text-uppercase">ИЗ НАШЕГО БЛОГА</h3>

                        <p class="lead">Что нового в книжном мире? <a href="{{ url_for('blog')}}"> Почитайте наш блог!</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="col-md-12" data-animate="fadeInUp">

                    <div id="blog-homepage" class="row">
                        {% for post in posts %}
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="{{ url_for('post', post_id=post[0]) }}">{{ post[1] }}</a></h4>
                                <p class="author-category">Автор: {{ post[2] }}</a>
                                </p>
                                <hr>
                                <p class="intro">{{ post[3] }}</p>
                                <p class="read-more"><a href="{{ url_for('post', post_id=post[0]) }}" class="btn btn-primary">Читать полностью</a>
                                </p>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                    <!-- /#blog-homepage -->
                </div>
            </div>
            <!-- /.container -->

            <!-- *** BLOG HOMEPAGE END *** -->


        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>