<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    {% block header %}
    {{ super() }}
    {% endblock %}
    {% block nav %}
    {{ super() }}
    {% endblock %}

    <body>
    {% block content %}
    {{ super() }}

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('index') }}">Главная</a>
                        </li>
                    </ul>
                    

                    <div class="row products">
                        {% for cat in search_result %}

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{ url_for('detail', book_id=cat[0])}}">
                                                <img src="data:;base64,{{ cat[3] }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{ url_for('detail', book_id=cat[0]) }}">
                                                <img src="data:;base64,{{ cat[3] }}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ url_for('detail', book_id=cat[0] )}}" class="invisible">
                                    <img src="data:;base64,{{ cat[3] }}" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="{{ url_for('detail', book_id=cat[0] )}}">{{ cat[1] }}</a></h3>
                                    <p class="price">{{ cat[2] }} ₸</p>
                                    <p class="buttons">
                                        <a href="{{ url_for('detail', book_id=cat[0] )}}" class="btn btn-primary">Подробнее</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor %}

                    </div>
                    <!-- /.products -->


                </div>
                <!-- /.col-md-9 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

    {% endblock %}
    </body>
    {% block footer %}
    {{ super() }}
    {% endblock %}
    </html>